<h1>Patient Dashboard</h1>

<h2>My Appointments</h2>
<!-- displays availability scheduler on the dashboard page -->
<%#= (render partial: 'appointments/form') %>
<table>
  <thead>
    <tr>
      <th>Provider Name</th>
      <!-- <th>Patient</th> -->
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.provider.user.first_name %></td>
        <td><%= appointment.provider.user.last_name %></td>
        <!-- <td><%#= appointment.provider.user.email %></td> -->
        <!-- <td><%#= appointment.patient.user.email %></td> -->
        <td><%= appointment.start %></td>
        <td><%= appointment.end %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p></p>
<%= link_to "Find a Provider",  providers_find_a_provider_path %>
<br>
<p></p>




<h3> My Profile </h3>

<%= current_user.first_name %>
<%= current_user.last_name %><br>
<%= current_user.email %><br>
<%= current_user.phone_number %><br>
<%= link_to "Edit Profile", edit_user_registration_path %>
