<h1>Provider Dashboard</h1>

<br>
<p></p>
<!-- <h3> My Profile </h3> -->

<%#= current_user.first_name %>
<!-- <%#= current_user.last_name %><br> -->
<!-- <%#= current_user.email %><br> -->
<!-- <%#= current_user.phone_number %><br> -->
<%#= link_to "Edit Profile", edit_user_registration_path %>
<h2> Upcoming Appointments </h2>
<table>
  <thead>
    <tr>
      <!-- <th>Provider</th> -->
      <th>Patient</th>
      <th>Email</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <!-- <td><%#= appointment.provider.user.email %></td> -->
        <td><%= appointment.patient.user.first_name %></td>
        <td><%= appointment.patient.user.last_name %></td>
        <td><%= appointment.patient.user.email %></td>
        <td><%= appointment.start.strftime('%a, %b %d %I:%M %p') %></td>
        <td><%= appointment.end.strftime('%a, %b %d %I:%M %p') %></td>
      </tr>
       <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- Uses Rails Unobtrusive Javascript to get 'Tok/new' with the appointment id -->
        <td><% if !appointment.session %>
          <%= link_to "Start Session",  tok_new_path(appointment_id: appointment.id), method: 'post',remote: true %>
        <% end %></td>
        <td><% if appointment.session %>
          <%#= link_to "Join Session",  tok_view_path(appointment.session) %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
            Join Session
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= appointment.patient.user.first_name %></h4>
                </div>
                <div class="modal-body" style="height:400px; padding:0px;">
                  <iframe src="<%= tok_view_path(appointment.session)%>" width=590 height=400 frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %></td>
    <% end %>
  </tbody>
</table>
<h2>Availability Scheduler</h2>
<!-- displays availability scheduler on the dashboard page -->
<%= (render partial: 'availabilities/form') %>

<!-- <h3> Tod Talk </h3> -->

