<!-- New Registration -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h2>Sign up  <%= "Provider" if current_page?('/providers/sign_up') %></h2>

  <% if current_page?('/providers/sign_up') %>
    <%= f.hidden_field :is_provider, value: 'true'%>
  <% end %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_field :dob %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [["Not Telling", "not telling"], ["Male", "male"], ["Female", "female"]] %>
  </div>

  <% if current_page?('/providers/sign_up') %>
    <div class="field">
      <%= f.label :bio %><br />
      <%= text_area resource_name, :bio, size: "60x12", placeholder: 'Tell us why you are awesome.' %>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
