<%= form_for(@availability) do |f| %>
  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :days do |d| %>
    <%= d.label :monday, "Mon, 24" %>
    <br>
    <%= d.check_box :monday %>
    <br>
    <%= d.check_box :tuesday %>
    <%= d.check_box :wednesday %>
    <%= d.check_box :thursday %>
    <%= d.check_box :friday %>
    <%= d.check_box :saturday %>
    <%= d.check_box :sunday %>
  <% end %>
<br>
  <%= fields_for :time do |t| %>
    <%= t.time_select :start %>
    <%= t.time_select :end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
